
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgotPasswordEmailSent</title>
</head>
<body>
    <p>Emailne bak şifrenireslicek kodu gönderdim</p>
</body>
</html>
