@model projeDeneme.Models.Security.ResetPasswordViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPassword</title>
</head>
<body>
    <h3>Reset Password</h3>
    <form asp-controller="Security" asp-action="ResetPassword" method="post">
        <div asp-validation-summary="All"></div>
        <input  asp-for="Code" type="hidden" />
        <input type="text" name="Email" id="Email" placeholder="Email"/>
        <input type="text" name="Password" id="Password" placeholder="Password"/>
        <input type="text" name="ConfirmPassword" id="ConfirmPassword" placeholder="Confirm Password"/>
        <input type="submit" value="Şifreyi Sıfırla" />

    </form>
</body>
</html>
