
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPasswordConfirm</title>
</head>
<body>
    <p>Şifeniz Yenilendi</p>
</body>
</html>
