
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Yeni</title>
</head>
<body>
    <form method="post">
        <label>ad</label>
        <input type="text" name="Ad" />
        <label>soyad</label>
        <input type="text" name="Soyad" />
        <label>Email</label>
        <input type="text" name="Email" />
        <label>Deneme</label>
        <input type="text" name="deneme" />
        <button type="submit"class="btn btn-succes">Ekle</button>
    </form>
</body>
</html>
